@media (max-width: 767px) {
    .card-servicio {
            border: solid white 3px;
            margin: 15px;
            text-align: center;
            max-width: 324px;
        }
    
        .card-servicio__img {
    
            height: auto;
            max-width: 318px;
        }
    
        .cards {
            
           
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            justify-items: center;
            padding-top: 35px;
        }
}

@media screen and (min-width: 768px){
    .cards{
       
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
    .card-servicio{
        max-width: 360px;
        border: solid white 3px;
        margin: 15px;
    }
    .card-servicio__img{
        max-height: 50%;
    }
}